html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  background-color: black;
}
body {
 width: 1200px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}
header {
  height: 80px;
}
nav {
  height: 40px;
  background-color:#ebe8e8;
  display: flex;
   padding: 1%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition-duration: 200ms;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;
}

nav a:hover {
  color: rgb(247, 235, 235);
  text-shadow: 0 0 10px wheat;
  transition-duration: 200ms;
}
article {
  background: rgb(199, 195, 195);
  padding: 5px;
}
article h2 {
  margin-top: 0;
}
article img {
  float: left;
  margin: 0 10px 10px 0;
  max-width: 100%;
}
article p {
  line-height: 2;
}
/* 文字排版 */
h1 {
  font-size: 50px;
  text-align: center;
  color: black;
}
h2 {
  font-size: 30px;
  text-align: center;
}
figure img {
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: auto;  
}
figcaption {
    background-color: white;
    color: black;
    padding: 3px;
    text-align: center;
}
figure ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

figure li {
  display: inline;
  text-align: center;
  flex: 4;
}
footer {
  margin-top: 10px;
}
